discord.py==1.7.2
brotli==1.0.9
cryptography==3.4.7
Cython==0.29.23
discord==1.0.1
importlib_metadata==4.0.1
ipaddr==2.2.0
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
mypy_extensions==0.4.3
numpy==1.20.3
ordereddict==1.1
protobuf==3.17.0
pyOpenSSL==20.0.1
python-dotenv==0.17.1
wincertstore==0.2
zipp==3.4.1
